@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-general-sans {
    font-family: "General Sans", ui-sans-serif, system-ui, sans-serif;
  }
  .bg-rectangle {
    background-image: url(/assets/rectangle.jpeg);
  }
  .bg-rectangle- {
    background-image: url(/assets/rectangle-6.jpeg);
  }
  .bg-rectangle-1 {
    background-image: url(/assets/rectangle-8.jpeg);
  }
  .bg-t-bg-ellipse-74elevate-your-brand-today-tbg-ellipse-75ellipse {
    background-image: url(/assets/Ellipse.svg);
  }
  .bg-t-bg-ellipse-79bi-arrow-left-short {
    background-image: url(/assets/Ellipse1.svg);
  }
  .bg-t-bg-ellipse-78bi-arrow-left-short {
    background-image: url(/assets/Ellipse2.svg);
  }
  .bg-bg-mask-group {
    background-image: url(/assets/MaskGroup.svg);
  }
  .bg-t-bg-ellipse-86vector-tvector {
    background-image: url(/assets/Ellipse3.svg);
  }
  .font-helvetica {
    font-family: Helvetica, ui-sans-serif, system-ui, sans-serif;
  }
}



@font-face {
  font-family: "Normal";   /*Can be any text*/
  src: url("/src/Fonts/GENERALSANS/GENERALSANS-REGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "Medium";   /*Can be any text*/
  src: url("/src/Fonts/GENERALSANS/GENERALSANS-MEDIUM.OTF") format("opentype");
}


@font-face {
  font-family: "Semibold";   /*Can be any text*/
  src: url("/src/Fonts/GENERALSANS/GENERALSANS-SEMIBOLD.OTF") format("opentype");
}



@font-face {
  font-family: "Bold";   
  src: url("/src/Fonts/GENERALSANS/GENERALSANS-BOLD.OTF") format("opentype");
}


@font-face {
  font-family: "CNormal";   /*Can be any text*/
  src: url("/src/Fonts/CASCADIA/CascadiaMono-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "CMedium";   /*Can be any text*/
  src: url("/src/Fonts/CASCADIA/CascadiaMono-Medium.ttf") format("opentype");
}


@font-face {
  font-family: "CSemibold";   /*Can be any text*/
  src: url("/src/Fonts/CASCADIA/CascadiaMono-SemiBold.ttf") format("opentype");
}



@font-face {
  font-family: "CBold";   
  src: url("/src/Fonts/CASCADIA/CascadiaMono-Bold.ttf") format("opentype");
}



@font-face {
  font-family: "RNormal";   /*Can be any text*/
  src: url("/src/Fonts/RUBRIK/Rubik-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "RMedium";   /*Can be any text*/
  src: url("/src/Fonts/RUBRIK/Rubik-Medium.ttf") format("opentype");
}


@font-face {
  font-family: "RSemibold";   /*Can be any text*/
  src: url("/src/Fonts/RUBRIK/Rubik-SemiBold.ttf") format("opentype");
}



@font-face {
  font-family: "RBold";   
  src: url("/src/Fonts/RUBRIK/Rubik-Bold.ttf") format("opentype");
}